<mat-toolbar color="primary">

    <span *ngIf="userIsAuth&&isAdmin">
      Admin &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
    <span>
      <a routerLink="/">Posts List</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>

      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuth">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
        <a mat-button routerLink="map" routerLinkActive="mat-accent">Map</a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
          <a mat-button routerLink="d3" routerLinkActive="mat-accent">D3 using groupBy</a>
      </li>
      <li *ngIf="userIsAuth&&isAdmin">
        <a mat-button routerLink="mapReduceD3" routerLinkActive="mat-accent">D3 using mapReduce</a>
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="scraps" routerLinkActive="mat-accent">Scraps</a>
      </li>
      <li *ngIf="userIsAuth">
        <a mat-button routerLink="/chat" routerLinkActive="mat-accent">Chat</a>
      </li>
      <li *ngIf="userIsAuth">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
  </mat-toolbar>
