<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveComment()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Comment Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a comment title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Comment Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a comment title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Comment</button>
  </form>
</mat-card>
